<%= render 'shared/page_title', title: "Beans" %>

<% if @listings.any? %>

  <!-- pagination -->
  <%= will_paginate @posts, :page_links => false, class: 'center' %>
  
  <br />
   
  
  <div class="container" align="center">
    <div class="card-deck">
    <% @listings.each do |listing| %>
    
      <div class="card" style="width: 20rem;" align="center">
        <% if listing.product_image %>
          <%= image_tag listing.product_image_url(:original), class: "card-img-top", alt: "No product image available.", height: '180', width: '318' %> 
        <% else %>
          <%= image_tag("coffee_1.jpg", height: '180', width: '318', class: "card-img-top") %>
        <% end %>
        <div class="card-body">
          <h4 class="card-title"><%= listing.title %></h4>
          <p class="card-text"><strong>Roasted by:</strong> <%= listing.store.name %></p>
          <p class="card-text">$<%= listing.price %></p>
          <p><%= link_to "View product", listing_path(listing), class: "btn btn-primary btn-xlarge" %> </p>
        </div>
      </div>
      
      <br />
      
    <% end %>
    </div>
  </div>

<% else %>
  
  <br />

  <h4 align="center">This store doesn't have any products listed.</h4>
  
  <br />
  <br />
  
  <p align="center"><%= link_to "Return to store", store_path(params[:id]), class: "btn btn-lg btn-primary btn-xlarge" %>   <%= link_to "All beans", listings_path, class: "btn btn-primary btn-lg btn-xlarge" %> </p>

<% end %>