<%= render 'shared/page_title', title: "Beans" %>

<div class="container" align="center">
  <% @listings.each do |listing| %>
  
    <div class="card" style="width: 20rem;" align="center">
      <%= image_tag listing.product_image_url(:original), class: "card-img-top", alt: "coffee_2.jpeg", height: '180', width: '318' %> 
      <div class="card-body">
        <h4 class="card-title"><%= listing.title %></h4>
        <p class="card-text"><strong>Roasted by:</strong> <%= listing.store.name %></p>
        <p class="card-text">$<%= listing.price %></p>
        <p><%= link_to "View product", listing_path(listing), class: "btn btn-primary btn-xlarge" %> </p>
      </div>
    </div>
    
    <br />
    
  <% end %>
</div>