<p id="notice"><%= notice %></p>

<h1>Listings</h1>

<table>
  <thead>
    <tr>
      <th>Store</th>
      <th>Title</th>
      <th>Variety</th>
      <th>Countryregion</th>
      <th>Producer</th>
      <th>Notes</th>
      <th>Roast</th>
      <th>Grind</th>
      <th>Weight</th>
      <th>Roast date</th>
      <th>About</th>
      <th>Price</th>
      <th>Shipping</th>
      <th>Product image data</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.store %></td>
        <td><%= listing.title %></td>
        <td><%= listing.variety %></td>
        <td><%= listing.countryregion %></td>
        <td><%= listing.producer %></td>
        <td><%= listing.notes %></td>
        <td><%= listing.roast %></td>
        <td><%= listing.grind %></td>
        <td><%= listing.weight %></td>
        <td><%= listing.roast_date %></td>
        <td><%= listing.about %></td>
        <td><%= listing.price %></td>
        <td><%= listing.shipping %></td>
        <td><%= listing.product_image_data %></td>
        <td><%= link_to 'Show', listing %></td>
        <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
        <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Listing', new_listing_path %>
