<!-- are there any listings to display? -->
<% if @listings.any? %>
 
    <%= render 'shared/page_title', title: "Beans" %>
  
    <!-- pagination -->
    <%= will_paginate @posts, :page_links => false, class: 'center' %>
    
    <br />
     
    
    <div class="container" align="center">
      <div class="card-deck container">
      <% @listings.each do |listing| %>
      
        <div class="card card-listings mt-4">
          <% if listing.product_image %>
            <%= image_tag listing.product_image_url(:original), class: "card-img-top", alt: "No product image available.", height: '180', width: '318' %> 
          <% else %>
            <%= image_tag("coffee_1.jpg", height: '180', width: '318', class: "card-img-top") %>
          <% end %>
          <div class="card-body">
            <h4 class="card-title"><%= link_to listing.title, listing_path(listing) %></h4>
            <p class="card-text"><strong>Roasted by:</strong> <%= listing.store.name %></p>
            <p class="card-text">$<%= listing.price %></p>
            
            <!-- displays different options if the product is owned by the logged in store/user -->
            <% if user_signed_in? && listing.store.user == current_user %>
              <p>
                <%= link_to "Edit", edit_listing_path(listing), class: "btn btn-primary btn-md btn-xlarge" %> 
                <%= link_to "Delete", listings_path(@listing), class: "btn btn-danger btn-md", data: { confirm: "Are you sure?" }, method: :delete %> 
              </p>
            <% else %>
              <p><%= link_to "View product", listing_path(listing), class: "btn btn-primary btn-xlarge" %> </p>
            <% end %>
          
          </div>
        </div>
      <% end %>
      </div>
    </div>

<!-- Are there no products to display for this user/store? -->
<% else %>
  
  <%= render 'shared/page_title', title: "#{Store.find(params[:id]).name}'s Products" %>
  
  <br />

  <h4 align="center">This store doesn't have any roasts listed for sale.</h4>
  
  <br />
  <br />
  
  <p align="center">
    <%= link_to "Return to store", store_path(params[:id]), class: "btn btn-lg btn-primary btn-xlarge" %>   
    <%= link_to "All beans", listings_path, class: "btn btn-primary btn-lg btn-xlarge" %> 
  </p>

<% end %>