<p id="notice"><%= notice %></p>

<p>
  <strong>Store:</strong>
  <%= @listing.store %>
</p>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Variety:</strong>
  <%= @listing.variety %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @listing.country %>
</p>


<p>
  <strong>Region:</strong>
  <%= @listing.region %>
</p>

<p>
  <strong>Producer:</strong>
  <%= @listing.producer %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @listing.notes %>
</p>

<p>
  <strong>Roast:</strong>
  <%= @listing.roast %>
</p>

<p>
  <strong>Grind:</strong>
  <%= @listing.grind %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @listing.weight %>
</p>

<p>
  <strong>Roast date:</strong>
  <%= @listing.roast_date %>
</p>

<p>
  <strong>About:</strong>
  <%= @listing.about %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Shipping:</strong>
  <%= @listing.shipping %>
</p>

<p>
  <strong>Product image data:</strong>
  <%= @listing.product_image_data %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
