<%= render 'shared/page_title', title: "Inbox" %>

<div class="container" align="center">

  <table class="table table-hover inbox-desktop">
    <thead class="thead-dark">
      <th>Chat With</th>
      <th>Last Message</th>
      <th>Received</th>
    </thead>

  <% @conversations.each do |conversation| %>
        
      <!-- check to see which conversations the current user is a member of, either as sender or recipient -->
      <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
    
        <tbody>
          <td><%= conversation.sender_id == current_user.id ? User.find(conversation.recipient_id).profile.profile_name : User.find(conversation.sender_id).profile.profile_name %></td>
          <td><%= link_to truncate(conversation.messages.last.content, length: 200), conversation_messages_path(conversation) %></td>
          <td><%= conversation.messages.last.message_time %></td>
        </tbody>
      
        <!-- bootstrap cards display for the inbox using media queries -->
        <div class="card mb-3 inbox-mobile" style="max-width: 80%;" align="left">
          <div class="card-header">
            <strong>Chat with <%= conversation.sender_id == current_user.id ? User.find(conversation.recipient_id).profile.profile_name : User.find(conversation.sender_id).profile.profile_name %></strong>
          </div>
          <div class="card-body">
            <p class="card-text conversation-truncate">
              <%= link_to truncate(conversation.messages.last.content, length: 125), conversation_messages_path(conversation) %>
            </p>
            <p class="card-text">
              <small>
                <%= conversation.messages.last.message_time %>
              </small>
            </p>
          </div>
        </div>
      <% end %>
  <% end %>
  </table>
</div>