<%= render 'shared/errors', obj: @store %>

<%= form_with(model: store, local: true) do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :store_name %>
  </div>

  <div class="field">
    <%= form.label :image, "Store logo" %>
    <%= form.file_field :image, id: :store_image %>
  </div>
  
  <% if @store.image_data? %>
    <div class="field">
      <%= image_tag @store.image_url(:thumb) %>
    </div>
    <div class="field">
      Remove attachment: <%= form.check_box :remove_image %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :store_address %>
  </div>

  <div class="field">
    <%= form.label :suburb %>
    <%= form.text_field :suburb, id: :store_suburb %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :store_state %>
  </div>

  <div class="field">
    <%= form.label :postcode %>
    <%= form.number_field :postcode, id: :store_postcode %>
  </div>

  <div class="field">
    <%= form.label :about %>
    <%= form.text_area :about, id: :store_about %>
  </div>

  <div class="field">
    <%= form.label :roasting_schedule %>
    <%= form.text_area :roasting_schedule, id: :store_roasting_schedule %>
  </div>

  <div class="field">
    <%= form.label :next_roast %>
    <%= form.date_select :next_roast, id: :store_next_roast %>
  </div>

  <div class="field">
    <%= form.label :pickup %>
    <%= form.check_box :pickup, id: :store_pickup %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
