<%= render 'shared/page_title', title: "Roasters" %>

<!-- pagination -->

<%= will_paginate @posts, :page_links => false, class: 'center' %>

<br />
 

<div class="container" align="center">
  <div class="card-deck container">
  <% @stores.each do |store| %>
  
    <div class="card mt-4">
      <% if store.image %>
        <%= image_tag store.image_url(:original), class: "card-img-top", alt: "No product image available.", height: '180', width: '318' %> 
      <% else %>
        <%= image_tag("roasting.jpg", height: '180', width: '318', class: "card-img-top") %>
      <% end %>
      <div class="card-body">
        <h4 class="card-title"><%= store.name %></h4>
        <p class="card-text"><strong>Roasting in:</strong> <%= store.state %></p>
        <p class="card-text"><strong>Average rating:</strong> | <strong>Followers:</strong></p>
        <p><%= link_to "View store", store_path(store), class: "btn btn-primary btn-xlarge" %> </p>
      </div>
    </div>
    
    <br />
    
  <% end %>
  </div>
</div>