<% if user_signed_in? && @store.user_id == current_user.id %>
  
  <%= render 'shared/page_title', title: "My Store" %>
  
  <div class="container">
    
    <div align="center">
      <h3 class="underline"><%= @store.name %></h3>
    </div>
    
    
    <br />
    
    <% if @store.image %>
      <div class="row">
        <div class="col-md-4 offset-md-4 center">
          <%= image_tag @store.image_url(:thumb) %>
        </div>
      </div>
    <% else %>
      <div align="center">
        <p> You have not selected a store image. <%= link_to "Click here to add one.", edit_store_path(@store) %>
      </div>
    <% end %>
    
    <br />
    
    <div align="center">
      <%= link_to 'Edit store', edit_store_path(@store), class: "btn btn-primary btn-lg btn-xlarge" %>
    </div>
    
    <br />
    
    <table align="center">
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><strong>Customer pickup permitted?</strong></td>
          <td><%= @store.pickup ? "Yes" : "No" %></td>        
        </tr>
        <% if @store.pickup %>  
          <tr>
            <td><strong>Address</strong></td>
            <td><%= @address %></td>        
          </tr>
        <% end %>
        <tr>
          <td><strong>Roasting Schedule</strong></td>
          <td><%= @store.roasting_schedule %></td>        
        </tr>
        <tr>
          <td><strong>About:</strong></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="2"><%= @store.about %></td>        
        </tr>
      </tbody>
    </table>
    
    <br />
    
    <div align="center">
      <%= link_to 'My products', root_path, class: "btn btn-primary btn-lg" %>
    </div>
    
    <br />
    
    <div align="center">
      <%= link_to 'Add product', new_listing_path, class: "btn btn-primary btn-lg" %>
    </div>

  </div>
  
<% else %>

  <%= render 'shared/page_title', title: "Store Page" %>
  
  <div class="container">
    
    <div align="center">
      <h3 class="underline"><%= @store.name %></h3>
    </div>
    
    
    <br />
    
    <% if @store.image %>
      <div class="row">
        <div class="col-md-4 offset-md-4 center">
          <%= image_tag @store.image_url(:thumb) %>
        </div>
      </div>
    <% end %>
    
    <br />

    <table align="center">
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><strong>Store Owner</strong></td>
          <td><%= link_to @store.user.profile.profile_name, profile_path(@store.user.profile) %></td>        
        </tr>
        <tr>
          <td><strong>Customer pickup permitted?</strong></td>
          <td><%= @store.pickup ? "Yes" : "No" %></td>        
        </tr>
        <% if @store.pickup %>  
          <tr>
            <td><strong>Address</strong></td>
            <td><%= @address %></td>        
          </tr>
        <% end %>
        <tr>
          <td><strong>Roasting Schedule</strong></td>
          <td><%= @store.roasting_schedule %></td>        
        </tr>
        <tr>
          <td><strong>About:</strong></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="2"><%= @store.about %></td>        
        </tr>
      </tbody>
    </table>
    
    <br />
    
    <% if user_signed_in? %>
      <div align="center">
        <%= link_to 'Message store', root_path, class: "btn btn-primary btn-lg" %>
      </div>
      
      <br />
      
      <div align="center">
        <%= link_to 'View products', root_path, class: "btn btn-primary btn-lg" %>
      </div>
    <% end %>

  </div>
<% end %>