<% if user_signed_in? && @store.user_id == current_user.id %>
  
  <%= render 'shared/page_title', title: "My Store" %>
  
  <div class="container">
    
    <div align="center">
      <h3 class="underline"><%= @store.name %></h3>
    </div>
    
    
    <br />
    
    <% if @store.image %>
      <div class="row">
        <div class="col-md-4 offset-md-4 center">
          <%= image_tag @store.image_url(:thumb) %>
        </div>
      </div>
    <% else %>
      <div align="center">
        <p> You have not selected a store image. <%= link_to "Click here to add one.", edit_store_path(@store) %>
      </div>
    <% end %>
    
    <br />
    
    <div align="center">
      <%= link_to 'Edit store', edit_store_path(@store), class: "btn btn-primary btn-lg btn-xlarge" %>
    </div>
    
    <br />
    
    <table align="center">
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><strong>Customer pickup permitted?</strong></td>
          <td><%= @store.pickup ? "Yes" : "No" %></td>        
        </tr>
        
        <!-- display the store's full address if the seller has opted to make pick-up available. If not, displays the seller's general area -->
        <% if @store.pickup %>  
          <tr>
            <td><strong>Address</strong></td>
            <td><%= @address %></td>        
          </tr>
        <% else %>
          <tr>
            <td><strong>Area</strong></td>
            <td><%= @area.join(', ') %></td>        
          </tr>        
        <% end %>
        
        <tr>
          <td><strong>Roasting Schedule</strong></td>
          <td><%= @store.roasting_schedule %></td>        
        </tr>
        <tr>
          <td><strong>About:</strong></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="2"><%= @store.about %></td>        
        </tr>
      </tbody>
    </table>
    
    <br />
    
    <p align="center">
      <%= link_to 'My products', listings_path(id: @store.id), class: "btn btn-primary btn-lg" %>  <%= link_to 'Add product', new_listing_path, class: "btn btn-primary btn-lg" %>
    </p>

  </div>
  
<% else %>

  <%= render 'shared/page_title', title: "Store Page" %>
  
  <div class="container">
    
    <div align="center">
      <h3 class="underline"><%= @store.name %></h3>
    </div>
    
    
    <br />
    
    <% if @store.image %>
      <div align="center">
        <%= image_tag @store.image_url(:thumb) %>
      </div>
    <% else %>
      <div align="center">
        <%= image_tag("roasting.jpg", height: "300", width: "450") %>
      </div>
    <% end %>
    
    <br />

    <p align="center">
      <% if user_signed_in? %>
        <%= link_to 'Message store', conversations_path(sender_id: current_user.id, recipient_id: @store.user), method: :post, class: "btn btn-primary btn-md btn-xlarge" %>  
      <% end %>
        <%= link_to 'View products', listings_path(id: @store.id), class: "btn btn-primary btn-md btn-xlarge" %>
    </p>
      
    <table align="center">
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><strong>Store Owner</strong></td>
          <td><%= link_to @store.user.profile.profile_name, profile_path(@store.user.profile) %></td>        
        </tr>
        <tr>
          <td><strong>Customer pickup permitted?</strong></td>
          <td><%= @store.pickup ? "Yes" : "No" %></td>        
        </tr>
        <% if @store.pickup %>  
          <tr>
            <td><strong>Address</strong></td>
            <td><%= @address %></td>        
          </tr>
        <% end %>
        <tr>
          <td><strong>Roasting Schedule</strong></td>
          <td><%= @store.roasting_schedule %></td>        
        </tr>
        <tr>
          <td><strong>About:</strong></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="2"><%= @store.about %></td>        
        </tr>
      </tbody>
    </table>
    
    <br />

    <% if @store.reviews.count > 0 %>
      <hr />
      <br />
      
      <h4 align="center" class="underline">Store Reviews</h4>
      
      <br />
      
      <dl class="row" align="center">
        <dt class="col-md-3">Total reviews:</dt>
        <dd class="col-md-3"><%= pluralize(@review_count, 'review') %></dd>
        
        <dt class="col-md-3">Average User Rating:</dt>
        <dd class="col-md-3"><%= @average_rating.floor %>%</dd>
      </dl>
      <br>
      <!-- pagination -->
      <%= will_paginate @store_reviews, :page_links => false, class: 'center' %>
      <br />
      
      <% @store_reviews.each_with_index do |review, index| %>
        <table class="table">
          <thead class="thead-light">
            <tr></tr>
              <th>
                <%= index + 1 %>. <%= review.rating %>% | <%= link_to review.user.profile.profile_name, profile_path(review.user.profile) %><small>, <%= review.created_at.to_s(:db)  %></small>
              </th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td><%= review.content %></td>
              </tr>
          </tbody>
        </table>
      <% end %>
    <% end %>
      <br>
    <% if user_signed_in? %>
      <hr />
      <br />
      <h4 align="center">Enter your review</h4>
      <br />
      <%= render 'reviews/form' %>
    <% end %>
  </div>
<% end %>