<!-- Main jumbotron to introduce Beanstar and encourage users to log in or sign up -->
<div class="jumbotron">
  <div class="container" align="center">
    <h1 class="display-3">Buy. Roast. Sell.</h1>
    <h3>Beanstar is <span class="underline">the</span> marketplace for Aussie coffee enthusiasts to buy and sell fresh specialty roasts.</h3>
    <% unless user_signed_in? %>
      <div class="row">
        <p class="col-md-3 offset-md-3"><%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-primary btn-lg btn-xlarge" %></p>
        <p class="col-md-3"><%= link_to 'Log In', new_user_session_path, class: "btn btn-primary btn-lg btn-xlarge" %></p>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4" align="center">
      <%= image_tag("coffee_1.jpg", width: '25%', class: "card-img-top") %>
      <h3 align="center"><%= link_to "Browse by beans", listings_path, class: "page-subtitle" %></h3>
    </div>
    <div class="col-md-4" align="center">
      <%= image_tag("coffee_3.jpg", width: '25%', class: "card-img-top" ) %>
      <h3 align="center"><%= link_to "Browse by roasters", listings_path, class: "page-subtitle" %></h3>
    </div>
    
    <!-- display the top 5 roasters (by user rating) -->
    <div class="col-md-4 mobile-break">
      <h3 align="center" class="page-subtitle">Top Roasters</h3>
      <table class="table table-sm table-striped center home-table">
        <thead>
          <th class="underline">Name</th>
          <th class="underline">Rating</th>
        </thead>
        <tbody>
          <% Store.rating_order.each_with_index do |store, index| %>
            <tr>
              <td><%= link_to store.name, stores_path(store) %></td>
              <td><%= store.reviews.average(:rating).floor %>%</td>
            </tr>
            <% break if index == 4 %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div> <!-- /container -->

