<nav class="navbar navbar-expand-lg navbar-light">
  
  <%= link_to 'Beanstar', root_path, class: "navbar-brand", id: "logo" %>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <li><%= link_to "Beans", root_path, class: "nav-link" %></li>
        <li><%= link_to "Roasters", root_path, class: "nav-link" %></li>
      </li>
      
      <!-- displays a drop-down menu for user actions if logged in -->
      <% if user_signed_in? %>
      
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_user.email %></a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            
            <% if current_user.profile %>
              <%= link_to 'My profile', profile_path(current_user.profile), class: "dropdown-item" %>
            <% else %>
              <%= link_to 'Create profile', new_profile_path, class: "dropdown-item" %>
            <% end %>
            
            <% if user_signed_in? && current_user.store && current_user.store.persisted? %>
              <%= link_to 'My store', store_path(current_user.store), class: "dropdown-item" %>
            <% else %>
              <%= link_to 'Create store', new_store_path, class: "dropdown-item" %>
            <% end %>
            
            <%= link_to 'My account', edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to 'Inbox', root_path, class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
        
    <% else %>
    
        <li class="nav-item">
          <li><%= link_to "Log in", new_user_session_path, class: "nav-link" %></li>
        </li>
        
    <% end %>
    </ul>
    
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    
  </div>
</nav>